<h1>Editar Pedido</h1>


<%= form_for @order, url: order_path(@order), method: :patch do |f| %>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.hidden_field :user_id %>
  </div>
  <br>
<div class="actions">
    <%= f.submit "Salvar Alterações", class: "btn btn-primary" %>
  </div>
  <br>
  <div class="actions">
    <%= link_to order_path(@order), class: "btn btn-primary" do %>
      <i class="bi bi-arrow-left"></i> Voltar
    <% end %>

    <%= button_to "Excluir Pedido", order_path(@order), method: :delete, data: { confirm: "Tem certeza que deseja excluir este pedido?" }, class: "btn btn-danger" %>
  </div>
<% end %>
