<h1>Detalhes do pedido</h1> <br>

<p>Nº pedido: <%= @order.id %></p>

<h2>Produtos Comprados:</h2><br>

<ul>
  <% @order.carts.each do |cart| %>
    <li><%= cart.product.name %> - Qtde: <%= cart.quantity %> - <%= number_to_currency(cart.product.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n') %>  </li>
  <% end %>
</ul>
<br>
<strong>Valor Total: <%= number_to_currency(@order.total_price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n') %></strong> <br>


 <br>
<br>

 <%= link_to "Voltar para lista de pedidos", orders_path, class: "btn btn-primary" %>
