<div class="bg-light pt-5 pb-5 rounded-2 shadow p-3 mb-5 bg-white rounded">
  <div class="d-flex align-items-center justify-content-center">
    <% if @product.photo.attached? %>
      <%= cl_image_tag @product.photo.key, height: 400, width: 500, crop: :fill, class: "shadow p-3 mb-5 bg-white rounded" %>
      <% else %>
      <%= image_tag "placeholder.jpg", width: 500, height: 400, crop: :fill %>
      <% end %>
    <ul>
      <div>
        <h2 class="mb-5"><strong><%= @product.name %></strong></h2>
        <h4><strong>Descrição: </strong><%= @product.description %></h4>
        <h4><strong>Catigoria: </strong><%= @product.category %></h4>
        <h2><strong><%= number_to_currency @product.price, unit: 'R$ ',
                                   precision: 2,
                                   separator: ',',
                                   delimiter: '.' %></strong></h2>
      </div>
      <div class="mt-5">
        <% if @cart.include?(@product) %>
          <%= link_to "Adicionado",
                        '#',
                        class:"btn btn-success rounded-5 disabled" %>
          <%= link_to   'Remover',
                        remove_from_cart_path(@product),
                        class:"btn btn-danger rounded-5",
                        data: { turbo_method: :delete } %>
        <% else %>
          <%= button_to "Adiçonar nu carrin",
                        add_to_cart_path(@product),
                        class:"btn btn-warning w-100 rounded-5" %>
        <% end %>
      </div>
    </ul>
  </div>
</div>
