<div class="bg-light pt-5 pb-5 rounded-2 shadow p-3 mb-5 bg-white rounded">
  <div class="d-flex align-items-center justify-content-center">
    <% if @product.photo.attached? %>
      <%= cl_image_tag @product.photo.key, height: 400, width: 500, crop: :fill, class: "shadow p-3 mb-5 bg-white rounded" %>
      <% else %>
      <%= image_tag "placeholder.jpg", width: 500, height: 400, crop: :fill %>
      <% end %>
    <ul>
      <div class="description">
        <h2><strong><%= @product.name %></strong></h2>
        <h4>Descrição: <strong><%= @product.description %></strong></h4>
        <h4>Catigoria: <%= @product.category %></h4>
        <h2><strong>R$: <%= @product.price %></strong></h2>
      </div>
      <% if @cart.include?(@product) %>
        <%= link_to "Adicionado",
                      '#',
                      class:"btn btn-success rounded-5 disabled" %>
        <%= link_to   'Remover',
                      remove_from_cart_path(@product),
                      class:"btn btn-danger rounded-5",
                      data: { turbo_method: :delete } %>
      <% else %>
        <%= button_to "Adiçonar nu carrin",
                      add_to_cart_path(@product),
                      class:"btn btn-warning w-100 rounded-5" %>
      <% end %>
    </ul>
  </div>
</div>
