<!DOCTYPE html>
<html>
  <head>
    <title>RailsMarketplaceProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%# --- Navbar --- %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-car-tunnel fa-2xl"></i>
        <% end %>
    <%# --- Search --- %>
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
            <input class="form-control" type="search" name="search[query]" id="search_query" placeholder="Pocure seu podruto aqui" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
        <%# Carrinho de compras %>
        <div class="cart">
          <%= link_to cart_path do %>
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
            <span class="cart-count"><%= @cart.count %></span>
          <% end %>
          <% if @cart.present? %>
            <%= link_to 'Esvaziar', empty_cart_path, data: { turbo_confirm: 'Isso apagará todos os itens do carrinho! Deseja continuar?' } %>
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Meus anuncios", "#", class: "dropdown-item" %>
                  <%= link_to "Anunciar", "#", class: "dropdown-item" %>
                  <%# Caminho logout %>
                  <%= link_to "Sair", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </li>
            <% else %>
                <%# Buttons login/sign-in %>
                <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary m-1 rounded-5" %>
                <%= link_to "Anunciar", new_user_registration_path, class: "btn btn-warning m-1 rounded-5" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
